{% extends 'base.html.twig' %}

{% block title %}Inscription a la Newsletter
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Inscription a la Newsletter</h1>

        {{form(form)}}
	</div>
{% endblock %}
